<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JspProj2-POC-config and application Objects</display-name>

    <welcome-file-list>
    <welcome-file>testurl</welcome-file> 
    </welcome-file-list>


   <context-param>
    <param-name>name</param-name>
    <param-value>Deepak</param-value>
   </context-param>
   
   <servlet>
    <servlet-name>test</servlet-name>
    <jsp-file>/Test.jsp</jsp-file> 
   
   <init-param>
     <param-name>sarname</param-name>
     <param-value>yadav</param-value>
   </init-param>
   
   </servlet>
   
   <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/testurl</url-pattern>
   </servlet-mapping>



</web-app>